*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 0;
    background-color:rgb(10, 0, 62) ;
}
.medsos ul li{
    display: inline-block;
    color: gold;
    margin-right: 10px;
}
header ul li{
    display: inline-block;
 }
 header ul li a{
    padding: 20px 15px;
    display:inline-block;
 }
 header ul li a:hover{
    background-color: rgb(10, 0, 62);
    color: gold;
 }
.container{
    width: 100%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display:block;
    clear: both;
}
.active{
    background-color: red;
    color: silver;
 }
 .active1{
    background-color: darkblue;
    color: silver;
}
body
{
    background:rgb(0, 0, 110);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    background-size:100%;
}