*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
a{
    color: inherit;
    text-decoration: none;}
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .container::after{
        content: '';
        display:block;
        clear: both;
    }

.medsos{
    padding: 0;
    background-color:rgb(10, 0, 62) ;
}
header ul li{
   display: inline-block;
}
header ul li a{
   padding: 20px 15px;
   display:inline-block;
}
header ul li a:hover{
   background-color: rgb(10, 0, 62);
   color: gold;
}
.active{
   background-color: red;
   color: silver;
}
.active1{
    background-color: darkblue;
    color: silver;
}
    body{
    background: #cacacb;
    text-align: center;
    }
     
    section{
    margin: 50px auto;
    }
     
    section img{
    border-radius: 30%;
    border: 1px solid rgb(45, 44, 44);
    }
    body
{
    background:rgb(0, 0, 110);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    background-size:100%;
}
.wa
{
    color: gold;
}
.tele
{
    color:gold;
}