*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
a{
    color: inherit;
    text-decoration: none;}
    .container{
        width: 100%;
        margin: 0 auto;
    }
.medsos{
    padding: 0;
    background-color:rgb(10, 0, 62) ;
}
header ul li{
   display: inline-block;
}
header ul li a{
   padding: 20px 15px;
   display:inline-block;
}
header ul li a:hover{
   background-color: rgb(10, 0, 62);
   color: gold;
}
.active{
   background-color: red;
   color: silver;
}
.active1{
    background-color: darkblue;
    color: silver;
}
body
{
    background:rgb(0, 0, 110);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    background-size:100%;
}
.pi
{
    color:gold;
}
.table td
{
    color:silver;
}
.table-3 td
{
    color:silver;
}
.table-2 td
{
    color:silver;
}