*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 0;
    background-color:rgb(10, 0, 62) ;
}
.medsos ul li{
    display: inline-block;
    color: gold;
    margin-right: 10px;
}
.ab25
{
padding: 15px 0;
float: left;
color: gold;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display:block;
    clear: both;
}
header ul{
    float:right;
}
 header ul li{
    display: inline-block;
 }
 header ul li a{
    padding: 20px 15px;
    display:inline-block;
 }
 header ul li a:hover{
    background-color: rgb(10, 0, 62);
    color: gold;
 }
 .active{
    background-color: red;
    color: silver;
 }
.banner h1{
    color: darkblue;
    z-index: 1;
    padding: 250px 50px;
    width: 100%;
    border: 10px;
}
body
{
    background:rgb(0, 0, 110);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    background-size:100%;
}
*{margin: 0px auto;}


#container{
    min-height: 100%;
    position: relative;
}

.header{
    background: #0cf;
    padding: 10px;
}

.content{
    padding: 10px;
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: rgb(10, 0, 62);
    color: gold;
    position: absolute;
    bottom: 0px;
}
.active1{
    background-color: darkblue;
    color: silver;
}
.ab h1{
    color: white;
    z-index: 1;
    padding: 250px 50px;
    width: 100%;
    border: 10px;
}